.vscode
dependencies
model
node_modules
.meta
PRIVATE*.md
package-lock.json

/dependencies/xyz
/dependencies/xyz
dependencies/xyz
dependencies/xyz
dependencies/xyz
dependencies/xyz
dependencies/xyz2
dependencies
dependencies/xyz/xyz1
dependencies/xyz/xyz1
/Users/afuentes009/projetcs/chimpwizard/wand/dependencies/abc
dependencies/abc
dependencies/xyz/xyz2
dependencies/xyz3